@import "./reset.scss";
@import "./variable.scss";

body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  font-family: $font_regular;
}

* {
  user-select: none !important;
}
#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.App {
  background: white;
  width: 100%;
  height: 100vh;
}

.container__app {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;
}

.main__view__page {
  background: white;
}
