@import "../main.style/variable.scss";

.container__blog {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.container__blog .blog__title_section {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  & .text {
    font-size: 0.9rem;
    opacity: 0.7;
  }
}

.container__blog .blog__content_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}
.container__blog .blog__content_list .list__news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .container__blog .blog__content_list .list__news {
    flex-direction: column;
    display: flex;
  }
}
