@import "../main.style/variable.scss";

.card__infos_contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 35px;
  overflow: hidden;
  background: rgba(white, 0);
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  & svg {
    height: 1.7rem;
    width: 1.7rem;
    flex: none;
    & * {
      fill: $neutral_1;
    }
  }
  & .contact__info_value {
    font-size: 0.8rem;
    text-align: center;
  }
  &:hover {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}
