@import "../main.style/variable.scss";

.icons-round {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  border-radius: 50%;
  padding: 8px;
  height: 10px;
  width: 10px;
  background: white;
  border: 1px solid rgba($neutral_1, 0.1);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 0.3s linear;
  &:hover {
    opacity: 0.5;
  }
  & svg {
    flex: none;
    height: 1rem;
    width: 1rem;
    & * {
      fill: $neutral_1;
    }
  }
}

.icons-bulle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  border-radius: 50%;
  padding: 8px;
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0.185);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 0.3s linear;
  &:hover {
    opacity: 0.5;
  }
  & svg {
    flex: none;
    height: 1rem;
    width: 1rem;
    & * {
      fill: $neutral_1;
    }
  }
}
