@import "../main.style/variable.scss";
.new__card {
  display: flex;
  flex-direction: column;
  flex: none;
  overflow: hidden;
  row-gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  & .new__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // height: 250px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  & .new__detail {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 30px;
    & .new__date {
      font-size: 0.9rem;
      font-style: italic;
    }
    & .new__title {
      font-family: $font_medium;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
